:host {
  div {
    background-color: var(--gray-10);

    & div:first-child {
      display: flex;
      flex-direction: column;

      & div:first-child {
        display: flex;
        align-items: center;
      }

      & .links {
        display: flex;
        gap: 10px;
      }
    }
  }
}
