div.container {
  display: flex;
  padding: 10px 20px;

  &.border {
    border-color: var(--gray-20);
    border-style: solid;
    border-width: 1px 0 1px 0;
  }
}

div.content-container {
  display: flex;
  justify-content: center;
  max-width: 800px;
}

div.results-container {
  max-width: 100%;
  margin: auto;
  columns: 2;
  column-gap: 1rem;
  font-size: 1.2rem;

  @media (max-width: 600px) {
    columns: 1;
  }
}
